body {
  margin: 0;
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,.50) 0%, rgba(0,0,0,.50) 100%), url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: left 10%;
  font-family: "Open-Sans", sans-serif;
}
