@mixin phone-landscape {
  @media screen and (min-width: 481px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (min-width: 641px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (min-width: 961px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin social-icon {
  text-align: center;
  width: 1.1rem;
  height: 1.1rem;
  padding: 5px;
  color: #fff;
  margin: 5px 3px;
}

@mixin box-border {
  box-shadow: 0 3px 2px #ccc;
}

@mixin article-container {
  background-color: $background;
  margin: 10px auto;
}

@mixin article-container-small {
  @include article-container;
  width: 100%;
}

@mixin article-container-medium {
  @include article-container;
  width: 48%;
  margin: 10px 0;
}

@mixin article-container-large {
  width: 32%;
  margin: 10px 10px;
}

@mixin article-small {
  width: 85%;
  margin: 10px auto;
}

@mixin header-small {
  color: #464646;
  margin: 0;
  padding: 20px 0 0 0;
  font-weight: normal;
}

@mixin content-small {
  color: #686868;
  line-height: 1.5rem;
  font-size: .9rem;
}

@mixin skater-small {
  width: calc(100% - 10px);
  height: 190px;
  border: 5px solid #fff;
  margin-bottom: 10px;
  background-size: cover;
}

@mixin skater-medium {
  width: calc(48% - 10px);
}

@mixin skater-large {
  width: calc(32% - 10px);
}

.container {
  width: 90%;
  margin: 10px auto;

  @include tablet-portrait {
    width: 65%;
  }
}

.facebook {
  @include social-icon;
  background-color: #3E5A9A;
}

.rss {
  @include social-icon;
  background-color: #CB8D2B;
}

.twitter {
  @include social-icon;
  background-color: #688dca;
}

.youtube {
  @include social-icon;
  background-color: #B2382D;
}
