.heading {
  width: 100%;
  color: #fff;

  &--social {
    float: right;
    display: none;
  }

  &--subscribe {
    float: left;
  }

  &--icons {
    float: left;
  }

  &--divider {
    float: left;
  }

  &--icon {
    float: left;
  }

  &--nav {
    clear: both;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--button {
    font-size: .9rem;
    background-color: $mainlinks;
    margin: 5px 0 5px 0;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    @include box-border;

    &--dash {

    }

    &--name {
      padding: 0 15px;
    }
  }

  &--hero {
    clear: both;
    width: 95%;
    height: 100%;
    background-image: url(../images/top-image.png);
    background-size: cover;
    background-position: left 10%;
    border: 10px solid #fff;
    margin: 10px 0 10px 0;
    @include box-border;

    &--image {
      width: 90%;
      padding: 25px 0 25px 1rem;
    }
  }

  &--form {
    width: 20%;
    margin: 10px auto;
  }
}

.content {

  &--article {
    background-color: #fff;
    width: 100%;
    @include box-border;
    padding: 5px 0 3px 0;
    margin: 0 auto;
  }

  &--header {
    font-weight: normal;
  }

  &--date {
    font-size: .9rem;
  }

  &--content {
    color: #686868;
    line-height: 1.5rem;
  }

  &--read-more {
    text-align: center;
    display: block;

    & a {
      text-transform: uppercase;
      color: $mainlinks;
      font-weight: bold;
    }
  }

  &--article1 {
    margin: 0 auto;
    @include article-small;
  }

  &--article2 {
    display: none;
    @include article-small;
  }

  &--article3 {
    display: none;
    @include article-small;
  }

  &--gallery {
    margin-top: 10px;
  }

  &--skater-name {
    font-size: 3rem;
    color: #efefef;
    text-align: center;
    padding-top: 25px;
  }

  &--skater1 {
    background-image: url(../images/sk8er-4.png);
    @include skater-small;
  }

  &--skater2 {
    background-image: url(../images/sk8er-3.png);
    @include skater-small;
  }

  &--skater3 {
    background-image: url(../images/sk8er-2.png);
    display: none;
  }

  &--skater4 {
    background-image: url(../images/sk8er-1.png);
    display: none;
  }
}
