.heading {
  width: 100%;
  color: #fff;

  &--social {
    float: right;
    display: none;
  }

  &--subscribe {
    float: left;
  }

  &--icons {
    float: left;
  }

  &--divider {
    float: left;
  }

  &--icon {
    float: left;
  }

  &--nav {
    clear: both;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0 20px 0;
  }

  &--button {
    font-size: .9rem;
    background-color: $mainlinks;
    margin: 5px 0 5px 0;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    @include box-border;

    &--name {
      padding: 0 15px;
    }
  }

  &--hero {
    clear: both;
    width: 94%;
    height: 100%;
    background-image: url(../images/top-image.png);
    background-size: cover;
    background-position: left 10%;
    border: 1em solid #fff;
    margin: 10px auto;
    @include box-border;

    &--image {
      width: 60%;
      margin: auto auto;
      padding: 25px 0 25px 0;
    }
  }

  &--form {
    width: 23%;
    margin: 10px auto;
  }
}

.content {

  &--article {
    @include article-small;
    margin: 10px auto 20px auto;
  }

  &--header {
    @include header-small;
  }

  &--date {
    font-size: .8rem;
    color: #aaa;
    font-weight: normal;
  }

  &--content {
    @include content-small;
  }

  &--read-more {
    text-align: center;
    display: block;
    padding: 0 0 10px 0;

    & a {
      text-transform: uppercase;
      color: $mainlinks;
      font-weight: bold;
    }
  }

  &--article1 {
    @include article-container-small;
    @include box-border;
  }

  &--article2 {
    @include article-container-small;
    @include box-border;
    display: none;
  }

  &--article3 {
    @include article-container-small;
    @include box-border;
    display: none;
  }

  &--gallery {
    width: 100%;
    margin: 10px auto;
  }

  &--skater-name {
    font-size: 3rem;
    color: #efefef;
    text-align: center;
    padding-top: 25px;
  }

  &--skater1 {
    background-image: url(../images/sk8er-4.png);
    @include skater-small;
    @include box-border;
  }

  &--skater2 {
    background-image: url(../images/sk8er-3.png);
    @include skater-small;
    @include box-border;
  }

  &--skater3 {
    background-image: url(../images/sk8er-2.png);
    display: none;
    @include box-border;
  }

  &--skater4 {
    background-image: url(../images/sk8er-1.png);
    display: none;
    @include box-border;
  }

  &--boards {
    clear: both;
    width: 100%;
    margin: 10px 0 20px 0;
    background-color: $background;
    @include box-border;

    &-container {
      width: 90%;
      margin: 0 auto;
    }
  }

  &--board {
    width: 15%;
    margin: 10px 0 10px 20px;
  }
}

.contact {
  margin: 20px 0;
  background-color: $background;
  @include box-border;

  &--info {
    width: 90%;
    @include article-small;
  }

  &--header {
    @include header-small;
  }

  &--content {
    @include content-small;
  }

  &--social {
    margin: 10px 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  &--icon {
    float: left;
  }

  &--forms {
    clear: both;
    margin: 10px 0;
  }

  &--form {
    width: 90%;
    margin: 0 auto;
  }

  &--name, &--email, &--message {
    display: block;
    width: 90%;
    height: 3em;
    margin: 10px auto;
    padding-left: 10px;
    box-shadow: inset 1px 1px 1px 0px #aaa;
    font-size: .9em;
    text-transform: uppercase;
  }

  &--message {
    -webkit-box-shadow: inset 1px 1px 1px #aaa;
    -moz-box-shadow: inset 1px 1px 1px #aaa;
    box-shadow: inset 2px 2px 2px #aaa;
    padding-top: 10px;
    height: 10em;
    overflow: auto;
    border: 1px solid #aaa;
  }

  &--submit {
    float: right;
    font-size: 1.2em;
    width: 11em;
    height: 2.3em;
    margin: 10px .6em 10px 0;
    background-color: $mainlinks;
    border: none;
    color: #fff;
    text-transform: uppercase;
  }
}
